.cart-container {
  position: fixed;
  right: -100vw;
  top: 0;
  height: 100vh;
  background-color: white;
  z-index: 99999;
  width: clamp(1%, 100%, 30rem);
  padding: 1rem;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  box-sizing: border-box;
}

.cart-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cart-options h1 {
  margin: 0;
}

.cart-header p {
  font-size: smaller;
  color: rgb(109, 108, 108);
}

#close-cart {
  color: black;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

#close-cart:hover {
  cursor: pointer;
  color: #ffd800;
  transition: 0.5s;
}

.cart {
  display: flex;
  flex-direction: column;
  height: 70%;
  max-height: 80%;
  padding: 1rem 0;
  overflow-y: scroll;
}

#delete-btn {
  color: black;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

#delete-btn:hover {
  cursor: pointer;
  color: red;
  transition: 0.5s;
}
.checkout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  padding: 2rem 0;
}

.overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(4, 4, 4);
  right: -100%;
  top: 0;
  z-index: 99999;
  transition: 0.5s;
  opacity: 0;
}

.is-active {
  right: 0;
  transition: 0.5s;
  display: block;
}

.overlay-active {
  opacity: 0.5;
  transition: 0.5s;
  right: 0;
}

.disabled {
  display: none;
}
